# ---- Python env/cache ----
# Python
.venv/
__pycache__/
*.pyc

# Cache
.cache/

# Model weights
*.pt
*.pth
*.onnx
*.engine

# Large/raw datasets
data/
thewilds_bioacousticmonitors_full/
thewilds_cameratraps_full/
TW*/
*.wav
*.mp3
*.flac
*.jpg
*.jpeg
*.png
*.mp4
*.avi

# Generated outputs you may want to keep local only
outputs/figures/

# OS/editor
.DS_Store
.vscode/