# ---- Python env/cache ----
.venv/
__pycache__/
*.py[cod]

# ---- OS / editor junk ----
.DS_Store
Thumbs.db
.vscode/
.ipynb_checkpoints/

# ---- Large raw datasets (NEVER commit) ----
data/
datasets/
thewilds_cameratraps_full/
New folder/
logs/
results/

# ---- outputs: ignore everything by default ----
outputs/**

# ---- allow ONLY these two output CSV files ----
!outputs/
!outputs/tables/
!outputs/tables/arrivals/
!outputs/tables/arrivals/minute_of_hour_dist.csv
!outputs/tables/gaps/
!outputs/tables/gaps/gaps_1h_fullrange.csv